<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <!-- Compiled and minified CSS -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <link rel="stylesheet" href="/public/style.css" />
    <title>OAuth2</title>
  </head>
  <body class="green lighten-4">
    <header>
      <nav>
        <div class="nav-wrapper green darken-3">
          <div class="container">
            <% if (user) { %>
            <a href="#" class="brand-logo right"><%= user.displayName %></a> <%
            } else { %> <a href="#" class="brand-logo right">Auth</a> <% } %>
            <ul id="nav-mobile" class="left hide-on-med-and-down">
              <li><a href="/">Home</a></li>
              <li><a href="/profile">Profile</a></li>
              <% if (user) { %>
              <li><a href="/auth/logout">Log out</a></li>
              <% } else { %>
              <li><a href="/auth/login">Login</a></li>
              <% } %>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <section class="container">
      <h3 class="center">OAuth 2.0</h3>
      <div class="row">
        <div class="col s12 m8 offset-m2">
          <div class="card green darken-1">
            <div class="card-content white-text">
              <span class="card-title">Sign in with:</span>
              <p>Google</p>
              <p>Facebook</p>
              <p>GitHub</p>
            </div>
            <div class="card-action"><a href="#">GitHub Repo</a></div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
